{{ define "main" }}
<nav>
    {{- if ne .Site.Params.siteDescription "" -}}
    <p>{{ .Site.Params.siteDescription | markdownify | safeHTML}}</p>
    {{- end }}
    <ul>
        {{- range (.Site.RegularPages.ByPublishDate.Reverse) -}}
        {{- if (ne .Params.isPost false) -}}
        {{- $dateTime := .PublishDate.Format "2006-01-02" -}}
        <li>
            <time datetime="{{ $dateTime }}" class="mr-2 monospace">{{- $dateTime -}}</time>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{- end -}}
        {{- end -}}
    </ul>
</nav>
{{ end }}